{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Detalles de la Aseguradora</h5>
                </div>
                <div class="card-body">
                    <form method="post" action="/aseg/create/aseguradora">
                        <div class="form-group">
                            <label for="id_aseguradora">ID de Aseguradora:</label>
                            <input type="number" class="form-control" id="id_aseguradora" name="id_aseguradora" required>
                        </div>
                        <div class="form-group">
                            <label for="nombre_aseguradora">Nombre:</label>
                            <input type="text" class="form-control" id="nombre_aseguradora" name="nombre_aseguradora" required>
                        </div>
                        <div class="form-group">
                            <label for="contacto_aseguradora">Contacto:</label>
                            <input type="email" class="form-control" id="contacto_aseguradora" name="contacto_aseguradora" required>
                        </div>
                        <button type="submit" class="btn btn-success">Enviar</button>
                        <a href="/aseg" class="btn btn-primary">Cancelar</a></form>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}