{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6"> <!-- Ajusta el número para cambiar el ancho -->
            <div class="card">
                <div class="card-header">
                    <h5>Detalles de la Aseguradora</h5>
                </div>
                <div class="card-body">
                    <form method="POST" action="/aseg/update/{{ aseguradora[0] }}">
                        <div class="form-group">
                            <label for="id_aseguradora">Id Aseguradora:</label>
                            <input type="number" id="id_aseguradora" name="id_aseguradora" class="form-control" required value="{{ aseguradora[0] }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="nombre_aseguradora">Nombre:</label>
                            <input type="text" id="nombre_aseguradora" name="nombre_aseguradora" class="form-control" required value="{{ aseguradora[1] }}">
                        </div>
                        <div class="form-group">
                            <label for="contacto_aseguradora">Contacto:</label>
                            <input type="email" id="contacto_aseguradora" name="contacto_aseguradora" class="form-control" required value="{{ aseguradora[2] }}">
                        </div>
                        <button type="submit" class="btn btn-success">Actualizar</button>
                        <a href="/aseg" class="btn btn-primary">Volver</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}