{% extends 'base.html' %}

{% block content %}
<div class="bg-gray-100 flex items-center justify-center min-h-screen">
      <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-lg">
          <h2 class="text-2xl font-semibold text-gray-700 text-center mb-6">Actualizar Transacción</h2>
          
          <form action="{{ url_for('ingresos.update_transaccion_view', id_transaccion=transaccion.id) }}" method="POST" class="space-y-6">
              <div>
                  <label for="tipo_transaccion" class="block text-sm font-medium text-gray-700">Tipo de Transacción</label>
                  <input type="text" name="tipo_transaccion" id="tipo_transaccion" required
                         class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" value="{{transaccion.transaccion}}">
              </div>
  
              <div>
                  <label for="costo" class="block text-sm font-medium text-gray-700">Costo</label>
                  <input type="number" name="costo" id="costo" step="0.01" required
                         class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" value="{{transaccion.costo}}">
              </div>
  
              <div>
                  <label for="id_tipo_cambio" class="block text-sm font-medium text-gray-700">ID Tipo de Cambio</label>
                  <input type="number" name="id_tipo_cambio" id="id_tipo_cambio" required
                         class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" value="{{transaccion.id_tipo_cambio}}">
              </div>
  
              <div class="flex items-center justify-between">
                  <button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                      Actualizar
                  </button>
              </div>
          </form>
      </div>
</div>
{% endblock %}
