{% extends 'base.html' %}

{% block content %}

<div class="flex items-center gap-4 bg-gray-900 p-4">
    <nav class="flex space-x-4">
       
        <a href="/aseg" 
           class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-full text-sm px-5 py-2.5 transition duration-200 ease-in-out shadow-lg">
            Aseguradoras
        </a>
        <a href="/seg" 
           class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-full text-sm px-5 py-2.5 transition duration-200 ease-in-out shadow-lg">
            Seguros
        </a>
        <a href="/rep" 
           class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-full text-sm px-5 py-2.5 transition duration-200 ease-in-out shadow-lg">
            Reportes
        </a>
    </nav>
    </div>
<table class="table">
      <thead>
          <tr>
              <th>Nombre</th>
              <th>Contacto</th>
          </tr>
      </thead>
      <tbody>
          {% for aseguradora in aseguradoras %}
          <tr>
              <td>{{ aseguradora[1] }}</td>
              <td>{{ aseguradora[2] }}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
  <a href="/rep/activos" class="btn btn-success">Seguros Activos</a>
  <a href="/rep/vencidos" class="btn btn-success">Seguros Vencidos</a>

{% endblock %}
