{% extends 'base.html' %}

{% block content %}
<h2>Seguros Activos</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID Seguro</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Tipo Seguro</th>
            <th>Costo</th>
        </tr>
    </thead>
    <tbody>
        {% for seguro in seguros %}
        <tr>
            <td>{{ seguro[0] }}</td>
            <td>{{ seguro[3].strftime('%d-%m-%Y') }}</td>
            <td>{{ seguro[4].strftime('%d-%m-%Y') }}</td>
            <td>{{ seguro[5] }}</td>
            <td>{{ seguro[6] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/rep" class="btn btn-primary">Volver</a>
{% endblock %}
