{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6"> <!-- Ajusta el número para cambiar el ancho -->
            <div class="card">
                <div class="card-header">
                    <h5>Detalles del Seguro</h5>
                </div>
                <div class="card-body">
                    <form method="POST" action="/seg/update/{{ seguro[0] }}">
                        <div class="form-group">
                            <label for="id_seguro">Id Seguro:</label>
                            <input type="number" id="id_seguro" name="id_seguro" class="form-control" required value="{{ seguro[0] }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="id_vehiculo">Id Vehiculo: "{{seguro[1]}}"</label>
                            <select class="form-control" id="id_vehiculo" name="id_vehiculo" required value="{{ seguro[1] }}">
                                {% for vehiculo_id in vehiculos %}
                                    <option value="{{ vehiculo_id }}">{{ vehiculo_id }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_aseguradora">Id Aseguradora:"{{seguro[2]}}"</label>
                            <select class="form-control" id="id_aseguradora" name="id_aseguradora" required value="{{ seguro[2] }}">
                                {% for aseguradora_id in aseguradoras %}
                                    <option value="{{ aseguradora_id }}">{{ aseguradora_id }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="fecha_inicio">Fecha Inicio:</label>
                            <input type="date" id="fecha_inicio" name="fecha_inicio" class="form-control" required value="{{ seguro[3].strftime('%Y-%m-%d') }}">
                        </div>
                        <div class="form-group">
                            <label for="fecha_fin">Fecha Fin:</label>
                            <input type="date" id="fecha_fin" name="fecha_fin" class="form-control" required value="{{ seguro[4].strftime('%Y-%m-%d') }}">
                        </div>
                        <div class="form-group">
                            <label for="tipo_seguro">Tipo Seguro:</label>
                            <input type="text" id="tipo_seguro" name="tipo_seguro" class="form-control" required value="{{ seguro[5] }}">
                        </div>
                        <div class="form-group">
                            <label for="costo">Costo:</label>
                            <input type="number" id="costo" name="costo" class="form-control" required step="0.01" value="{{ seguro[6] }}">
                        </div>
                        <button type="submit" class="btn btn-success">Actualizar</button>
                        <a href="/seg" class="btn btn-primary">Volver</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}