{% extends 'base.html' %}

{% block content %}
<h1>Detalles de la Reserva</h1>
<form method="post" action="/create/reserva">
      <div>
            <label for="id_reserva">ID de Reserva:</label>
            <input type="text" id="id_reserva" name="id_reserva" required>
      </div>
      <div>
            <label for="id_cliente">ID de Cliente:</label>
            <input type="text" id="id_cliente" name="id_cliente" required>
      </div>
      <div>
            <label for="id_empleado">ID de Empleado:</label>
            <input type="text" id="id_empleado" name="id_empleado" required>
      </div>
      <div>
            <label for="fecha_inicio">Fecha de Inicio:</label>
            <input type="date" id="fecha_inicio" name="fecha_inicio" required>
      </div>
      <div>
            <label for="fecha_fin">Fecha de Fin:</label>
            <input type="date" id="fecha_fin" name="fecha_fin" required>
      </div>
      <div>
            <label for="contrato">Contrato:</label>
            <input type="text" id="contrato" name="contrato" required>
      </div>
      <button type="submit">Enviar</button>
</form>  
{% endblock %}

