{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto my-10 p-8 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-bold text-gray-800 mb-6">Editar Vehículo</h2>
    
    <form action="{{ url_for('vehiculo.edit', id=vehiculo.id_vehiculo) }}" method="POST">
        <div class="mb-4">
            <label for="anio" class="block text-gray-700 text-sm font-bold mb-2">Año:</label>
            <input type="number" name="anio" id="anio" value="{{ vehiculo.anio }}" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Año del vehículo">
        </div>
        
        <div class="mb-4">
            <label for="modelo" class="block text-gray-700 text-sm font-bold mb-2">Modelo:</label>
            <input type="text" name="modelo" id="modelo" value="{{ vehiculo.modelo }}" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Modelo del vehículo">
        </div>

        <div class="mb-4">
            <label for="precio_diario" class="block text-gray-700 text-sm font-bold mb-2">Precio Diario:</label>
            <input type="number" step="0.01" name="precio_diario" id="precio_diario" value="{{ vehiculo.precio_diario }}" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Precio diario en la moneda local">
        </div>

        <div class="mb-4">
            <label for="precio_dolar" class="block text-gray-700 text-sm font-bold mb-2">Precio en Dólares:</label>
            <input type="number" step="0.01" name="precio_dolar" id="precio_dolar" value="{{ vehiculo.precio_dolar }}" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Precio en dólares">
        </div>

        <div class="mb-4">
            <label for="caracteristicas" class="block text-gray-700 text-sm font-bold mb-2">Características:</label>
            <textarea name="caracteristicas" id="caracteristicas" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Características del vehículo">{{ vehiculo.caracteristicas }}</textarea>
        </div>

        <div class="flex items-center justify-between">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Actualizar
            </button>
            <a href="{{ url_for('vehiculo.get_vehiculos') }}" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">
                Cancelar
            </a>
        </div>
    </form>
</div>
{% endblock %}
