{% extends 'base.html' %}

{% block content %}

<div class="container mx-auto my-10 p-8 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-bold text-gray-800 mb-6">Gestionar disponibilidad</h2>
    <table class="min-w-full bg-white border border-gray-300">
        <thead>
            <tr>
                <th class="py-2 px-4 border-b">ID Vehículo</th>
                <th class="py-2 px-4 border-b">ID estado</th>
                <th class="py-2 px-4 border-b">Modelo</th>
                <th class="py-2 px-4 border-b">Estado Vehículo</th>
                <th class="py-2 px-4 border-b">Descripcion del estado</th>
                <th class="py-2 px-4 border-b">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for vehiculo in vehiculos %}
            <tr class="text-center">
                <td class="py-2 px-4 border-b">{{ vehiculo[0].id_vehiculo }}</td>
                <td class="py-2 px-4 border-b">{{ vehiculo[1].id_estado_vehiculo }}</td>
                <td class="py-2 px-4 border-b">{{ vehiculo[0].modelo }}</td>
                <td class="py-2 px-4 border-b">{{ vehiculo[1].nombre_estado }}</td>
                <td class="py-2 px-4 border-b">{{ vehiculo[1].descripcion }}</td>
                <td class="py-2 px-4 border-b">
                    <!-- Botón Editar -->
                    <a href="{{url_for('est_vehiculo.edit',id=vehiculo[1].id_estado_vehiculo)}}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-3 rounded">Editar estado</a>
                    <!-- Botón Eliminar -->
                    <a href="{{url_for('reserva.create')}}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded">reservar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>



{% endblock %}