{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto my-10 p-8 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-bold text-gray-800 mb-6">Vehículo</h2>
    
    <div class="bg-gray-100 p-4 rounded-lg shadow">
        <h3 class="text-xl font-semibold text-gray-700 mb-4">Detalles del Vehículo</h3>
        <div class="grid grid-cols-2 gap-4">
            <div class="bg-white p-4 rounded-lg shadow">
                <p class="font-bold">ID Vehículo:</p>
                <p>{{ vehiculo.id_vehiculo }}</p>
            </div>
            <div class="bg-white p-4 rounded-lg shadow">
                <p class="font-bold">Año:</p>
                <p>{{ vehiculo.anio }}</p>
            </div>
            <div class="bg-white p-4 rounded-lg shadow">
                <p class="font-bold">Modelo:</p>
                <p>{{ vehiculo.modelo }}</p>
            </div>
            <div class="bg-white p-4 rounded-lg shadow">
                <p class="font-bold">Precio Diario:</p>
                <p>{{ vehiculo.precio_diario }}</p>
            </div>
            <div class="bg-white p-4 rounded-lg shadow">
                <p class="font-bold">Precio en Dólares:</p>
                <p>{{ vehiculo.precio_dolar }}</p>
            </div>
            <div class="bg-white p-4 rounded-lg shadow">
                <p class="font-bold">Características:</p>
                <p>{{ vehiculo.caracteristicas }}</p>
            </div>
            <div class="bg-white p-4 rounded-lg shadow">
                <p class="font-bold">Estado Vehículo:</p>
                <p>{{ vehiculo.id_estado_vehiculo }}</p>
            </div>
            <div class="bg-white p-4 rounded-lg shadow">
                <p class="font-bold">Marca:</p>
                <p>{{ vehiculo.id_marca }}</p>
            </div>
        </div>
    </div>
    
    <h2 class="text-2xl font-bold text-gray-800 mb-6 mt-8">Estado Vehículo</h2>
    <div class="bg-gray-100 p-4 rounded-lg shadow">
        <h3 class="text-xl font-semibold text-gray-700 mb-4">Información del Estado</h3>
        <div class="bg-white p-4 rounded-lg shadow">
            <p class="font-bold">Estado Vehículo:</p>
            <p>{{ estado_vehiculo.nombre_estado }}</p>
            <p class="font-bold">Descripción:</p>
            <p>{{ estado_vehiculo.descripcion }}</p>
        </div>
    </div>

    <h2 class="text-2xl font-bold text-gray-800 mb-6 mt-8">Marca</h2>
    <div class="bg-gray-100 p-4 rounded-lg shadow">
        <h3 class="text-xl font-semibold text-gray-700 mb-4">Información de la Marca</h3>
        <div class="bg-white p-4 rounded-lg shadow">
            <p class="font-bold">Nombre Marca:</p>
            <p>{{ marca.nombre_marca }}</p>
            <p class="font-bold">Descripción:</p>
            <p>{{ marca.descripcion }}</p>
            <p class="font-bold">País de Origen:</p>
            <p>{{ marca.pais_marca }}</p>
        </div>
    </div>
</div>
{% endblock %}
