{% extends 'base.html' %}

{% block content %}
<h1>Detalles de la Reserva</h1>
<form method="POST" action="/update/{{reserva[0]}}">
      
      <div>
            <label for="fecha_inicio">Fecha de Inicio:</label>
            <input type="date" id="fecha_inicio" name="fecha_inicio" required value="{{ reserva[3].strftime('%Y-%m-%d') }}">
      </div>
      <div>
            <label for="fecha_fin">Fecha de Fin:</label>
            <input type="date" id="fecha_fin" name="fecha_fin" required value="{{ reserva[4].strftime('%Y-%m-%d') }}">
      </div>
      <div>
            <label for="contrato">Contrato:</label>
            <input type="text" id="contrato" name="contrato" required value="{{reserva[5]}}">
      </div>
      <button type="submit">Enviar</button>
</form>  
{% endblock %}

