{% extends 'base.html' %}

{% block content %}
<div class="flex items-center gap-4 bg-gray-900 p-4">
    <!-- Formulario de Búsqueda -->
    <form class="w-full max-w-md bg-white dark:bg-gray-800 shadow-lg rounded-full  flex items-center" action="{{url_for('vehiculo.buscar_vehiculo')}}">
        
        <!-- Input de búsqueda -->
        <input type="search" id="query"  name="query"
                class="block w-full p-3 pl-10 text-sm text-gray-900 border border-gray-300 rounded-full bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 transition duration-200 ease-in-out" 
                placeholder="Busca tus recursos favoritos..." 
                required />
        
        <!-- Botón de búsqueda -->
        <button type="submit" 
                class="ml-2 bg-blue-600 hover:bg-blue-700 text-white rounded-full px-4 py-2 font-medium transition duration-200 ease-in-out focus:outline-none focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800">
            Buscar
        </button>
    </form>

    <!-- Botón para Registrar Vehículo -->
    <nav class="flex space-x-4">
        <!-- Botón de "Registrar vehículo" -->
        <a href="{{url_for('vehiculo.create_vehiculo')}}" 
           class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-full text-sm px-5 py-2.5 transition duration-200 ease-in-out shadow-lg">
            Registrar vehículo
        </a>
        
        <!-- Botón de "Consultar disponibilidad" -->
        <a href="{{url_for('est_vehiculo.vehiculo_disponible')}}" 
           class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-full text-sm px-5 py-2.5 transition duration-200 ease-in-out shadow-lg">
            Consultar disponibilidad
        </a>
        <a href="{{url_for('vehiculo.seguimiento_vehiculo')}}" 
        class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-full text-sm px-5 py-2.5 transition duration-200 ease-in-out shadow-lg">
         Seguimiento vehiculo
     </a>
    </nav>
    
</div>

<div class="container mx-auto my-10 p-8 bg-white rounded-lg shadow-md">
    <h2  class="text-2xl font-bold text-gray-800 mb-6">Lista de Vehículos</h2>
    
    <table class="min-w-full bg-white border border-gray-300">
        <thead>
            <tr>
                <th class="p-2 border-b">ID Vehículo</th>
                <th class="p-2 border-b">Año</th>
                <th class="p-2 border-b">Modelo</th>
                <th class="p-2 border-b">Precio Diario</th>
                <th class="p-2 border-b">Precio en Dólares</th>
                <th class="p-2 border-b">Características</th>
                <th class="p-2 border-b">Estado Vehículo</th>
                <th class="p-2 border-b">Marca</th>
                <th class="p-2 border-b">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for vehiculo in vehiculos %}
            <tr class="text-center">
                <td class="p-2 border-b">{{ vehiculo.id_vehiculo }}</td>
                <td class="p-2 border-b">{{ vehiculo.anio }}</td>
                <td class="p-2 border-b">{{ vehiculo.modelo }}</td>
                <td class="p-2 border-b">{{ vehiculo.precio_diario }}</td>
                <td class="p-2 border-b">{{ vehiculo.precio_dolar }}</td>
                <td class="p-2 border-b">{{ vehiculo.caracteristicas }}</td>
                <td class="p-2 border-b">{{ vehiculo.id_estado_vehiculo }}</td>
                <td class="py-2 px-4 border-b">{{ vehiculo.id_marca }}</td>
                <td class=" border-b">
                    <!-- Botón Editar -->
                    <a href="{{url_for('vehiculo.edit',id=vehiculo.id_vehiculo)}}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-1 rounded">Editar</a>
                    <!-- Botón Eliminar -->
                    <a href="{{url_for('vehiculo.delete',id=vehiculo.id_vehiculo)}}" class="bg-red-500 hover:bg-red-700 text-white font-bold p-1 rounded" onclick="return confirm('¿Estás seguro de que deseas eliminar este vehículo?');">Eliminar</a>
                    <a href="{{url_for('vehiculo.get_vehiculo',id=vehiculo.id_vehiculo)}}" class="bg-green-500 hover:bg-green-700 text-white font-bold p-1 rounded ">+</a>
                
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
